/config
/lib
/screens
/server_screens
/worlds
/CountLines.jar
/problem_left.png
/problem_right.png
/WorldOfCube.jar
/WorldOfCube.zip
/WorldOfCubeSrc.zip
/WorldOfCubeSrc2.zip
/WorldOfCubeSrc3.zip
/world_backup
/.*